apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: crm-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          env:
            - name: POSTGRES_DB
              value: crm_db
            - name: POSTGRES_USER
              value: crm_user
            - name: POSTGRES_PASSWORD
              value: crm_pass
          ports:
            - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: crm-dev
spec:
  ports:
    - port: 5432
  selector:
    app: postgres
